.game-images {
    height: 150px;
    width: 150px;
}

.card-body {
    margin: auto;
}

.imageCards {
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 81, 0);
    color: white;
    text-align: center;
    height: 30px;
 }